.product{
    flex: 4; 
    padding: 20px;
}
.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.productTop{
    display: flex;
}
.productTopLeft, .productTopRight{
    flex: 1;
}
.productTopRight{
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba( 0, 0, 0, 0.75);
    box-shadow:0px 0px 15px -10px rgba( 0, 0, 0, 0.75);
    margin: 20px;
}
.productInfoImg{
    width: 40px;height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.productInfoTop{
    display: flex;
    align-items: center;
}
.productName{
    font-weight: 600;
}
.productInfoBottom{
    margin-top: 10px;
}
.productInfoItem{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.productInfoValue{
    font-weight: 300;
    font-size: 14px;
}
.productBottom{
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba( 0, 0, 0, 0.75);
    box-shadow:0px 0px 15px -10px rgba( 0, 0, 0, 0.75);
    margin: 20px;
}
.productForm{
    display: flex;justify-content: space-between;
}
.productFormLeft{
    display: flex;
    flex-direction: column;
}
.productFormLeft>label{
    margin-bottom: 10px;
    color: gray;
}
.productFormLeft>input{
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.productFormLeft>select{
    margin-bottom: 10px;
}
.productFormRight{
     display: flex;
     flex-direction: column;
     justify-content: space-around;

}
.productUpload{
    display: flex;
    align-items: center;
}
.productUploadImg{
    height: 100px;width: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.productButton{
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: darkblue;
}

/*Product List section*/
.productList{
    flex: 4;
}
.productListProduct{
    display: flex;
    align-items: center;
}
.productListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.productListDelete{
    color: red;
    cursor: pointer;
}
/*new product section*/
.newProduct{
    flex: 4;
}
.newProductForm{
    margin-top: 10px;
}
.newProductItem{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newProductItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150,150);
}
.newProductItem>input,
.newProductSelect{
    padding: 10px;
}
.newProductButton{
    width: 200px;
    border: none;
    color: white;
    background-color: darkblue;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}