.user{
    flex: 4; 
    padding: 20px;
}
.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.userContainer{
    display: flex;
    margin-top: 20px;
}
.userShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba( 0, 0, 0, 0.75);
    box-shadow:0px 0px 15px -10px rgba( 0, 0, 0, 0.75);
}
.userUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba( 0, 0, 0, 0.75);
    box-shadow:0px 0px 15px -10px rgba( 0, 0, 0, 0.75);
    margin-left: 20px;
}
.userShowTop{
    display: flex;
    align-items: center;
}
.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUsername{
    font-weight: 600;
}
.userShowUserTitle{
    font-weight: 300;
}
.userShowBotton{
    margin-top: 20px;
} 
.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
} 
.userShowIcon{
    font-size: 16px !important;
} 
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
} 
.userShowInfoTitle{
    margin-left: 10px;
} 
.userUpdateImg{
    width: 100px; 
    height: 100px;border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
} 
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
}
.userUpdateIcon{
    cursor: pointer;
}
.userUpdateButton{
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}

.userUpdateInput{
    border: none;
    border-bottom: 1px solid gray;
    width: 250px;
    height: 25px;
}
.userUpdateForm{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}


/*User List*/
.userList{
    flex: 4;
}
.userListUser{
    display: flex;
    align-items: center;
}
.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    background-color: #3bb077;
}
.userListDelete{
    color: red;
    cursor: pointer;
}
/*New User*/
.newUser{
    flex: 4;
}
.newUserForm{
    display: flex;
    flex-wrap: wrap;
}
.newUserItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newUserItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}
.newUserItem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newUserGender>input{
    margin-top: 15px;
}
.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}
.newUserSelect{
    height: 40px;
    border-radius: 5px;
}
.newUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}